version: '3.9'

services:
    oroneta.core-system.postgres:
        container_name: oroneta.core-system.postgres
        image: postgres:14-alpine
        restart: unless-stopped
        ports:
            - 5432:5432
        volumes:
            - postgres:/var/lib/postgresql/data
            - ./migration/init.sql:/docker-entrypoint-initdb.d/init.sql
            # Dev
            - ./migration/demo.sql:/docker-entrypoint-initdb.d/demo.sql
        environment:
            POSTGRES_PASSWORD: ${PG_DBPASS}
            POSTGRES_USER: ${PG_DBUSER}
            POSTGRES_DB: ${PG_DBNAME}
        # network_mode: "host"


    oroneta.core-system.server:
        container_name: oroneta.core-system.server
        # restart: unless-stopped
        build:
            context: ..
            dockerfile: ./docker/server/Dockerfile
        env_file:
            - .env
        ports:
            - 60000:60000
        depends_on:
            - oroneta.core-system.postgres
        # network_mode: "host"
      



    oroneta.core-system.adminer:
        container_name: oroneta.core-system.adminer
        image: adminer
        restart: unless-stopped
        depends_on:
            - oroneta.core-system.postgres
        ports:
            - 8081:8080
        environment:
            ADMINER_DEFAULT_SERVER: ${PG_DBHOST}
        # network_mode: "host"


    postgres:             
      
